/*--------------ОБЩИЕ---------------*/
.hide{
    display: none;
}

/*--------------ШАПКА---------------*/
.navbar{
    background-color: #e3f2fd;
    padding: 10px 30px 20px;
}

.search-form{
    margin: 0;
    max-width: 600px;
    width: 100%;
}

.header-buttons{
    display: flex;
    gap: 10px;
}
/*--------------БОКОВОЕ МЕНЮ---------------*/
.bd-links .btn:focus {
    box-shadow: 0 0 0 1px #62839b;
}

.bd-links .btn:hover, .bd-links .btn:focus, .bd-links a:hover, .bd-links a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #e3f2fd;
}

.bd-links a{
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
}

.bd-links .btn::before{
    width: 1.25em;
    line-height: 0;
    content: url("../img/arrow.svg");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}

.bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.section{
    font-size: 17px;
}

/*--------------РАЗДЕЛЫ---------------*/
.books-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 25px auto;
}

.book-card{
    width: 215px;
}

.book-title{
    margin: 0;
}

.book-cover{
    height: 300px;
    background: #a6b6c5;
}

.section-cover{
    height: 125px;
    background: #a6b6c5;
}

.section-card-title{
    max-width: 179px;
}

.placeholder-text{
    color: #a6c9e4;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    max-width: 300px;
    border: 2px solid #a6c9e4;
    border-radius: 20px;
}

/*--------------КНИГА---------------*/
.cover{
    height: 300px;
    max-width: 200px;
    width: 100%;
    background: #a6b6c5;
}

.dropup .dropdown-toggle::after {
    display: none;
}

#reviews{
    padding: 0px 12px;
    min-height: 122px;
}

.review-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rating-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.star-rating{
    color: gray;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.star-rating i:hover{
    color: orange;
}

.rate-star:hover ~ .rate-star { color: orange; }

.orange{
    color: orange;
}

#rating{
    padding: 0;
    border: none;
    height: 1px;
    width: 1px;
    opacity: 0;
    margin: 15px 0 0;
}

/*--------------КОРЗИНА---------------*/
.cart-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.form-check-label{
    width: 100%;
    max-width: 700px;
    padding: 15px;
    border-radius: 15px;
    background: #e3f2fd;
    cursor: pointer;
}

.item-card{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.item-cover{
    width: 100px;
    height: 150px;
    background: #a6b6c5;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.amount-form{
    display: flex;
    gap: 10px;
}

.form-check-input:checked ~ .form-check-label {
    background: #e3fde3;
    box-shadow: 5px 5px 4px 1px rgb(72 68 50 / 19%);
}

#cart-form{
    margin-left: 24px;
    display: flex;
    gap: 15px;
}
/*--------------ЧИСЛОВОЙ ИНПУТ---------------*/
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
    border: 1px solid #00000054;
    display: inline-flex;
    border-radius: 5px;
    background: white;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input input[type=number] {
    max-width: 50px;
    border-width: 0 1px;
    font-size: 17px;
    text-align: center;
    border-color: #00000054;
}

.btn-save{
    color: #198754;
    background: white;
}

/*--------------НОВЫЙ ЗАКАЗ---------------*/
.order-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 140px;
    width: 100%;
    padding: 10px 5px 0;
    justify-content: space-between;
}

.pay{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pay select{
    width: auto;
}

#delivery-0:checked ~ * .pick_up {
  display: block;
}

#delivery-1:checked ~ * .address {
  display: block;
}

.delete-item{
    color: black;
    position: absolute;
    top: 0;
    right: 0px;
}
/*--------------МОИ ЗАКАЗЫ---------------*/
.orders-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.accordion-item:first-of-type {
    border-radius: 0;
}

.accordion-item:not(:first-of-type) {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

.accordion-button.collapsed:hover {
    background: #e5efff;
}

/*--------------ЛОГИН---------------*/
.form-card{
    max-width: 450px;
    margin: 50px auto;
    padding: 10px 10px 0;
}

/*--------------ПОДВАЛ---------------*/
.footer{
    background-color: #e3f2fd;
    display: flex;
    gap: 200px;
    padding: 20px 300px 10px 400px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-container{
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-between;
}

.payment-methods, .contact{
    display: flex;
    gap: 8px;
}

.footer-icon{
font-size: 22px;
    background: #476694;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.footer-icon:hover {
    transform: scale(1.05);
}
